<template>
  <div id="app" class="dinosaur">
    <h1>Hello home</h1>
    <a @click="doLogout">Logout</a>
    <!-- <img id="imageId" src="../assets/dinosaur-drinks-beer.jpeg" :style="{'width': `${newWidth}px`, 'height': `${newHeight}px`, 'transition-delay': '0.3s', 'transition': 'all 0.3s ease-out'}"> -->
    <!-- <p><span>Age: </span><span>{{presentAge}}</span></p>
    <p>
      <button @click="drink">Drink</button>
      <button @click="increaseAgeByScaleUnit">+</button>
      <button @click="decreaseAgeByScaleUnit">-</button>
    </p> -->
  </div>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    // name: 'Dinasour',
    // data () {
    //   return {
    //     scalePxUnit: 1,
    //     drinkPxUnit: 20,
    //     // initially set default dimensions
    //     newWidth: 250,
    //     newHeight: 250
    //   }
    // },
    methods: {
      ...mapActions([
        'actionLogout'
      ]),
      doLogout () {
        this.actionLogout()
      }
    }
    // computed: {
    //   ...mapGetters([
    //     'getAge'
    //   ]),
    //   presentAge () {
    //     if (this.getAge === 1) {
    //       return this.getAge + ' year old!'
    //     }
    //     return this.getAge + ' years old!'
    //   }
    // }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
 img {
   width: 250px;
   height: 250px;
 }
</style>
