<template>
    <div class="layout-container">
        <div class="item">
            <div class="image"></div>
        </div>
        <div class="item">
            <form v-if="clickType == 'login'" action="" class="form-container">
                <h1>Account Login</h1>
                <input v-model="userLoginData.email" type="text" class="input" placeholder="Username">
                <input v-model="userLoginData.password" type="text" class="input" placeholder="Password">
                <small class="mt-1">{{getLoginResponse.message}}</small>
                <a @click="doLogin" class="button button-white mt-1">Submit</a>
                <span class="mt-1">Forgot <a class="forgot-link">username?</a></span>
                <div class="signup">Not sign in? <a @click="updateClickType">Sign Up Here</a></div>
            </form>
            <form v-if="clickType == 'signup'" v-on:submit="signUp" action="#" class="form-container">
                <h1>Account Sign Up</h1>
                <input v-model="userSignUpData.name" type="text" class="input" placeholder="name" @blur="$v.userSignUpData.name.$touch()">
                <input v-model="userSignUpData.email" type="text" class="input" placeholder="email" @blur="$v.userSignUpData.email.$touch()">
                <input v-model="userSignUpData.password" type="text" class="input" placeholder="password" @blur="$v.userSignUpData.password.$touch()">
                <input v-model="userSignUpData.confirmPassword" type="text" class="input" placeholder="confirm password" @blur="$v.userSignUpData.confirmPassword.$touch()">
                <a @click="signUp" :class="{'button': true, 'button-white': true, 'mt-1': true, 'disable': $v.$invalid}">Sign Up</a>
                <span class="back" @click="updateClickType">Back To Login</span>
            </form>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    import { required, email, minLength, maxLength, sameAs } from 'vuelidate/lib/validators'

    export default {
      data () {
        return {
          clickType: 'login',
          userSignUpData: {
            name: '',
            email: '',
            password: '',
            confirmPassword: ''
          },
          userLoginData: {
            email: '',
            password: ''
          }
        }
      },
      validations: {
        userSignUpData: {
          name: {
            required,
            minLen: minLength(3),
            maxLen: maxLength(30)
          },
          email: {
            required,
            email
          },
          password: {
            required,
            minLen: minLength(3),
            maxLen: maxLength(15)
          },
          confirmPassword: {
            required,
            minLen: minLength(3),
            maxLen: maxLength(15),
            sameAs: sameAs(vm => {
              return vm.password
            })
          }
        }
      },
      computed: {
        ...mapGetters([
          'getLoginResponse'
        ])
      },
      methods: {
        ...mapActions([
          'actionSignUp',
          'actionLogin'
        ]),
        signUp () {
          this.formValidate()
          // this.actionSignUp(this.userSignUpData)
        },
        doLogin () {
          this.actionLogin(this.userLoginData)
        },
        updateClickType () {
          if (this.clickType === 'signup') {
            this.clickType = 'login'
          } else if (this.clickType === 'login') {
            this.clickType = 'signup'
          }
        },
        formValidate () {
          let res = this.$v.userSignUpData.name
          console.log('Form:', res)
        }
      }
    }
</script>
<style scoped>
    .layout-container {
      height: 100vh;
      widows: 100wh;
      display: grid;
      grid-template-rows: repeat(1, 100%);
      grid-template-columns: repeat(2, 50%);
    }
    .image {
      background: url('../assets/bg_login.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .item {

    }
    .input {
      padding: .5rem;
      width: 20rem;
      margin: 1rem 0 0;
    }
    .form-container {
      background: linear-gradient(
      to right bottom rgba(210, 210, 210, 0.4), rgba(255, 255, 255, 0.6)),
      url('../assets/bg_login.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .button:link,
    .button:visited {
      display: inline-block;
      position: relative;
      transition: all .2s;
      position: relative;
      transform: translateY(-1px)
    }
    .button-white {
      padding: 0.5rem;
      width: 20rem;
      font-size: 1rem;
      background-color: #00AD5E;
      color: white;
      border: none;
      cursor: pointer;
    }
    .button:active {
      transform: translateY(-1px)
    }
    .button:hover {
      text-decoration: none;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      transform: translateY(-3px)
    }
    .button:after {
      position: absolute;
      content: '';
      display: inline-block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      /* transition: all .2s; */
    }
    .button-white:after {
      background-color: #00AD5E;
    }
    .button:hover:after {
      transform: scale(1.5);
      opacity: 0;
    }
    .forgot-link {
      color: #00AD5E;
      font: 1rem;
      cursor: pointer;
    }
    .signup {
      margin-top: 2rem;
      font-size: 0.8rem;
      color: #00AD5E;
      cursor: pointer;
    }
    .back {
      cursor: pointer;
      font-weight: bold;
      transform: translateY(0px);
    }
    .back:hover {
      transform: translateY(-3px);
      -webkit-transition: transform 1s ease-in-out;
      -moz-transition:transform 1s ease-in-out;
      -ms-transition:transform 1s ease-in-out;
    }
    form a.disable {
      cursor: not-allowed;
      background:#dddddd;
    }
    form a.disable:hover {
      transform: translateY(0px);
      box-shadow: 0 0 0;
    }
</style>
